<div id="home-index-content" class="container text-center">
  <h3>LOGGED ITEMS</h3>

  <div class="row">
    <% @logged_items.each do |logged_item| %>
      <div class="col-xs-12 col-md-6 offset-md-3 mb-10">
        <%= logged_item_button(logged_item) %>
      </div>
    <% end %>
    <div class="col-xs-12 col-md-6 offset-md-3 mb-10">
      <%= link_to 'New Logged Item', new_user_logged_item_path(current_user), class: 'btn btn-outline-dark'%>
    </div>
  </div>
</div>